header {
  margin-bottom: 50px;
}

header img {
  height: 45px;
  position: fixed;
  left: 2rem;
  top: 2rem;
  background: transparent;
}

.line {
  width: 120px;
  margin-bottom: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

@media screen and (min-width: 600px) {
  main section {
    width: 70%;
  }
}

.row {
  display: flex;
  gap: 1rem;
}

.collages-header {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.collages-title {
  font-style: italic;
}

main section .collages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.collages > img {
  width: 100%;
  max-width: 500px;
}
