header img {
  height: 50px;
}

.line {
  width: 120px;
  margin-bottom: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

main section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.project-header {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.project-title {
  font-style: italic;
}

main section .project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main section .project-2 {
  width: 60%;
}
