img {
  background-color: transparent;
}

.clickable:hover {
  cursor: pointer;
}

.container {
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle-container {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-container .text {
  height: 2rem;
}

.projects-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
}

@media only screen and (min-width: 600px) {
  .projects-container {
    position: absolute;
    left: -450px;
    top: -180px;
  }
  .films-container {
    position: absolute;
    top: -350px;
  }
  .collages-container {
    position: absolute;
    left: 200px;
    top: -150px;
  }
  .typographs-container {
    position: absolute;
    top: 10px;
    left: -330px;
  }
  .posters-container {
    position: absolute;
    top: -60px;
    left: -120px;
  }
}

.projects-img {
  width: 120px;
}

.projects-img:hover {
  transform: rotate(5deg);
}

.films-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
}

.films-container .text {
  height: 27px;
}

.films-img {
  width: 200px;
}

.films-img:hover {
  transform: rotate(5deg);
}

.collages-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  z-index: 10;
}

.collages-img {
  width: 200px;
  background-color: transparent;
}

.collages-img:hover {
  transform: rotate(5deg);
}

.typographs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  z-index: 100;
}

.typographs-container .text {
  height: 40px;
}

.typographs-img {
  width: 130px;
  background-color: transparent;
}

.typographs-img:hover {
  transform: rotate(5deg);
}

.posters-container {
  display: flex;
  align-items: end;
  gap: 2.5rem;
  background-color: transparent;
  z-index: 0;
}

.posters-container .text {
  margin-bottom: 2rem;
}

.posters-img {
  width: 220px;
  background-color: transparent;
}

.posters-img:hover {
  transform: rotate(5deg);
}

.about-link:hover {
  color: #eeb334;
}
