header {
  margin-bottom: 50px;
}

header img {
  height: 50px;
  position: fixed;
  left: 2rem;
  top: 2rem;
}

.line {
  width: 120px;
  margin-bottom: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

main section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main img {
  max-width: 600px;
  width: 100%;
}

.row {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.typographs-header {
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: self-end;
}

.typographs-title {
  font-style: italic;
}

main section .typographs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main section .typographs {
  width: 40%;
}
